{{ define "main" }}
  {{ .Content }}
    <div class="min-h-full w-full p-[5rem_5rem_5rem] md:lg:p-[4rem_2.5rem_5rem] md:p-[0rem_1.5rem_2rem] font-[seurat]">
      <div class="flex flex-col md:flex-row justify-between w-full">
        <div class="flex flex-col">
          <p class="text-6xl belanosima-regular text-center"> Quinns World </p>
          <img src="img/me.png" class="flex-shrink-0 rounded-full items-center p-4">
        </div>
        <div class="flex-shrink-4 flex flex-col max-md:grid gap-y-12 border-b-1 border-black">
          <div class="hidden md:visible grid grid-cols-2 spacing-4 gap-x-8 gap-y-4 md:flex md:flex-row">
            {{- range where .Site.RegularPages "Type" "showcase" -}}
            <span onclick="setShowcaseInfo(this)" title="{{ .LinkTitle }}" data-description="{{ .Content }}" class="border-2 rounded-full border-black hover:border-black/50 h-33 w-33 flex">
              <model-viewer class="relative bottom-2" src="showcase/{{ .Params.content }}" camera-controls disable-tap touch-action="none"></model-viewer>
            </span>
            {{ end }}
          </div>
          <span class="hidden md:visible">
            <p class="text-center" id ="showcase-title"></p>
            <p class="text-center" id= "showcase-description"></p>
          </span>

        </div>
        <div class="flex flex-col w-full md:w-1/4 px-8 flex-shrink-0">
          <img class="max-md:hidden rounded-lg flex justify-center aspect-square flex-shrink-0" src="https://www.tapmusic.net/collage.php?user=QuinnDaCollins&amp;type=7day&amp;size=3x3&amp;caption=true&amp;playcount=true">
          <div class="flex flex-wrap md:grid md:grid-cols-2 gap-[0.5rem] md:mb-4 justify-center">
            <a class="md:hover:opacity-60 hover:underline" href="https://www.tiktok.com/@quinnquinnquinnquinn">tiktok</a>
            <a class="md:hover:opacity-60 hover:underline" href="https://x.com/Quinnorsumn">twitter</a>
            <a class="md:hover:opacity-60 hover:underline" href="https://open.spotify.com/artist/1fPXjShDUXMvTp5jY5jpTE?si=LcWzOdD9QxWnlpAl_J-Npg">spotify</a>
            <a class="md:hover:opacity-60 hover:underline" href="https://soundcloud.com/quinndac">soundcloud</a>
        </div>  
      </div>
      </div>
      <div class="mt-[6rem] md:mt-11 flex justify-between w-6/7">
        <div class="flex flex-wrap gap-[0.5rem] md:mb-4 items-center">
          <button class="text-red-400 border-black border-2 rounded-lg py-0 px-0.5 md:hover:opacity-60">test</button>
          <button class="text-emerald-400 border-black border-2 rounded-lg py-0 px-0.5 md:hover:opacity-60">test</button>
          <button class="text-amber-500 border-black border-2 rounded-lg py-0 px-0.5 md:hover:opacity-60">test</button>
          <button class="text-teal-600 border-black border-2 rounded-lg py-0 px-0.5 md:hover:opacity-60">test</button>
        </div>

        <p class="font-thin text-sm text-lime-800 text-center">audio visual works by Quinn! <br>quinn is an 🕙︎⯎🙒🡬🡭🕿 that can travel across dimensions.<br>He relays his journeys to Quinn, who shares his interpretations with this dimension.</p>

        <p class="max-md:hidden">hmm...</p>

      </div>
      {{- range where .Site.RegularPages.Reverse "Type" "posts" -}}
        <article>
          <div class="group">
            <a href="{{ .Params.src }}" class="group block text-black/100 md:hover:text-black/60">
              <span class="p-[.9rem_0] md:p-[1rem_0] grid-post">
                <time>{{ .PublishDate | time.Format "2 Jan 2006"}}</time>
                <p>{{ .LinkTitle }}</p>
                <span class ="max-md:hidden">{{index .Params.tags 0 }}</span>
                <span class="max-md:hidden min-w-[1em] flex mt-[.2em]"></span>
                  <div class="group relative w-full overflow-hidden w-full group-hover:max-w-[8em] max-w-[3em] block aspect-[1/1] h-full">
                    <img src="img/{{ .Params.content }}">
                  </div>
              </span>
            </a>
          </div>
      </article>
    {{ end }}
</div>

{{ end }}
