---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
  }

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;

    background-color: rgba(109, 120, 102, 1.0);
    overflow: hidden;
    margin-top: 0.1vw;
    padding-top: 0.1vw;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 4vw;
    color: white;
    padding-bottom: 0px;
}

.quinlumn {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5%;
}

.collection-item {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0;
    padding: 0px;
}

.collection-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#collection-box {
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.4);

}

#collection-title {
    font-weight: 700;
}

#collection-description {
}

.collection-description:hover #slide {
    width: 0%;
  }

