body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

.block {
  display: block;
}

.grid-post {
  display: grid;
  width: 100%;
  grid-template-columns: 14% 1fr 10% 5.5% 5.5%;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
}